
Server-artifacts/api-ms-win-core-console-l1-2-0.dll
Server-artifacts/api-ms-win-core-console-l1-1-0.dll
Server-artifacts/api-ms-win-core-console-l1-2-0.dll
Server-artifacts/api-ms-win-core-datetime-l1-1-0.dll
Server-artifacts/api-ms-win-core-debug-l1-1-0.dll
Server-artifacts/api-ms-win-core-errorhandling-l1-1-0.dll
Server-artifacts/api-ms-win-core-fibers-l1-1-0.dll
Server-artifacts/api-ms-win-core-file-l1-1-0.dll
Server-artifacts/api-ms-win-core-file-l1-2-0.dll
Server-artifacts/api-ms-win-core-file-l2-1-0.dll
Server-artifacts/api-ms-win-core-handle-l1-1-0.dll
Server-artifacts/api-ms-win-core-heap-l1-1-0.dll
Server-artifacts/api-ms-win-core-interlocked-l1-1-0.dll
Server-artifacts/api-ms-win-core-libraryloader-l1-1-0.dll
Server-artifacts/api-ms-win-core-localization-l1-2-0.dll
Server-artifacts/api-ms-win-core-memory-l1-1-0.dll
Server-artifacts/api-ms-win-core-namedpipe-l1-1-0.dll
Server-artifacts/api-ms-win-core-processenvironment-l1-1-0.dll
Server-artifacts/api-ms-win-core-processthreads-l1-1-0.dll
Server-artifacts/api-ms-win-core-processthreads-l1-1-1.dll
Server-artifacts/api-ms-win-core-profile-l1-1-0.dll
Server-artifacts/api-ms-win-core-rtlsupport-l1-1-0.dll
Server-artifacts/api-ms-win-core-string-l1-1-0.dll
Server-artifacts/api-ms-win-core-synch-l1-1-0.dll
Server-artifacts/api-ms-win-core-synch-l1-2-0.dll
Server-artifacts/api-ms-win-core-sysinfo-l1-1-0.dll
Server-artifacts/api-ms-win-core-timezone-l1-1-0.dll
Server-artifacts/api-ms-win-core-util-l1-1-0.dll
Server-artifacts/api-ms-win-crt-conio-l1-1-0.dll
Server-artifacts/api-ms-win-crt-convert-l1-1-0.dll
Server-artifacts/api-ms-win-crt-environment-l1-1-0.dll
Server-artifacts/api-ms-win-crt-filesystem-l1-1-0.dll
Server-artifacts/api-ms-win-crt-heap-l1-1-0.dll
Server-artifacts/api-ms-win-crt-locale-l1-1-0.dll
Server-artifacts/api-ms-win-crt-math-l1-1-0.dll
Server-artifacts/api-ms-win-crt-multibyte-l1-1-0.dll
Server-artifacts/api-ms-win-crt-private-l1-1-0.dll
Server-artifacts/api-ms-win-crt-process-l1-1-0.dll
Server-artifacts/api-ms-win-crt-runtime-l1-1-0.dll
Server-artifacts/api-ms-win-crt-stdio-l1-1-0.dll
Server-artifacts/api-ms-win-crt-string-l1-1-0.dll
Server-artifacts/api-ms-win-crt-time-l1-1-0.dll
Server-artifacts/api-ms-win-crt-utility-l1-1-0.dll
Server-artifacts/botan.dll
Server-artifacts/cfx_curl_x86_64.dll
Server-artifacts/citizen-devtools.dll
Server-artifacts/citizen-resources-core.dll
Server-artifacts/citizen-resources-metadata-lua.dll
Server-artifacts/citizen-scripting-core.dll
Server-artifacts/citizen-scripting-lua.dll
Server-artifacts/citizen-scripting-lua54.dll
Server-artifacts/citizen-scripting-mono.dll
Server-artifacts/citizen-scripting-v8node.dll
Server-artifacts/citizen-server-fxdk.dll
Server-artifacts/citizen-server-gui.dll
Server-artifacts/citizen-server-impl.dll
Server-artifacts/citizen-server-instance.dll
Server-artifacts/citizen-server-main.dll
Server-artifacts/citizen-server-monitor.dll
Server-artifacts/citizen-server-net.dll
Server-artifacts/citizen-server-state-fivesv.dll
Server-artifacts/citizen-server-state-rdr3sv.dll
Server-artifacts/citizen/clr2/cfg/mono/4.5/machine.config
Server-artifacts/citizen/clr2/lib/mono/4.5/CitizenFX.Core.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/CitizenFX.Core.pdb
Server-artifacts/citizen/clr2/lib/mono/4.5/CitizenFX.Core.Server.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/CitizenFX.Core.Server.sym
Server-artifacts/citizen/clr2/lib/mono/4.5/CitizenFX.Core.sym
Server-artifacts/citizen/clr2/lib/mono/4.5/CitizenFX.Core.xml
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/Microsoft.Win32.Primitives.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/Microsoft.Win32.Registry.AccessControl.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/Microsoft.Win32.Registry.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/Mono.Data.Sqlite.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/netstandard.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.AppContext.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Collections.Concurrent.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Collections.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Collections.NonGeneric.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Collections.Specialized.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.ComponentModel.Annotations.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.ComponentModel.Composition.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.ComponentModel.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.ComponentModel.EventBasedAsync.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.ComponentModel.Primitives.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.ComponentModel.TypeConverter.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Console.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Data.Common.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Data.SqlClient.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Diagnostics.Contracts.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Diagnostics.Debug.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Diagnostics.FileVersionInfo.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Diagnostics.Process.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Diagnostics.StackTrace.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Diagnostics.TextWriterTraceListener.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Diagnostics.Tools.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Diagnostics.TraceEvent.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Diagnostics.TraceSource.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Diagnostics.Tracing.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Drawing.Primitives.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Dynamic.Runtime.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Globalization.Calendars.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Globalization.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Globalization.Extensions.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.IO.Compression.ZipFile.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.IO.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.IO.FileSystem.AccessControl.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.IO.FileSystem.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.IO.FileSystem.DriveInfo.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.IO.FileSystem.Primitives.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.IO.FileSystem.Watcher.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.IO.IsolatedStorage.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.IO.MemoryMappedFiles.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.IO.Pipes.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.IO.UnmanagedMemoryStream.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Linq.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Linq.Expressions.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Linq.Parallel.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Linq.Queryable.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Net.AuthenticationManager.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Net.Cache.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Net.Http.Rtc.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Net.HttpListener.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Net.Mail.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Net.NameResolution.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Net.NetworkInformation.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Net.Ping.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Net.Primitives.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Net.Requests.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Net.Security.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Net.ServicePoint.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Net.Sockets.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Net.Utilities.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Net.WebHeaderCollection.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Net.WebSockets.Client.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Net.WebSockets.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.ObjectModel.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Reflection.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Reflection.Emit.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Reflection.Emit.ILGeneration.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Reflection.Emit.Lightweight.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Reflection.Extensions.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Reflection.Primitives.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Reflection.TypeExtensions.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Resources.Reader.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Resources.ReaderWriter.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Resources.ResourceManager.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Resources.Writer.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Runtime.CompilerServices.VisualC.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Runtime.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Runtime.Extensions.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Runtime.Handles.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Runtime.InteropServices.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Runtime.InteropServices.WindowsRuntime.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Runtime.Numerics.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Runtime.Serialization.Formatters.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Runtime.Serialization.Json.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Runtime.Serialization.Primitives.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Runtime.Serialization.Xml.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Security.AccessControl.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Security.Claims.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Security.Cryptography.Algorithms.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Security.Cryptography.Csp.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Security.Cryptography.DeriveBytes.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Security.Cryptography.Encoding.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Security.Cryptography.Encryption.Aes.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Security.Cryptography.Encryption.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Security.Cryptography.Encryption.ECDiffieHellman.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Security.Cryptography.Encryption.ECDsa.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Security.Cryptography.Hashing.Algorithms.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Security.Cryptography.Hashing.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Security.Cryptography.Primitives.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Security.Cryptography.ProtectedData.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Security.Cryptography.RandomNumberGenerator.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Security.Cryptography.RSA.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Security.Cryptography.X509Certificates.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Security.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Security.Principal.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Security.Principal.Windows.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Security.SecureString.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.ServiceModel.Duplex.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.ServiceModel.Http.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.ServiceModel.NetTcp.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.ServiceModel.Primitives.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.ServiceModel.Security.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.ServiceProcess.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.ServiceProcess.ServiceController.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Text.Encoding.CodePages.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Text.Encoding.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Text.Encoding.Extensions.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Text.RegularExpressions.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Threading.AccessControl.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Threading.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Threading.Overlapped.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Threading.Tasks.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Threading.Tasks.Parallel.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Threading.Thread.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Threading.ThreadPool.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Threading.Timer.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.ValueTuple.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Xml.ReaderWriter.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Xml.XDocument.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Xml.XmlDocument.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Xml.XmlSerializer.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Xml.XPath.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Xml.XPath.XDocument.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Facades/System.Xml.Xsl.Primitives.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/I18N.CJK.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/I18N.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/I18N.MidEast.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/I18N.Other.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/I18N.Rare.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/I18N.West.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Microsoft.CSharp.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Mono.CSharp.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Mono.Posix.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Mono.Security.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/Mono.Security.Win32.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/mscorlib.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/MsgPack.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/MsgPack.sym
Server-artifacts/citizen/clr2/lib/mono/4.5/MsgPack.xml
Server-artifacts/citizen/clr2/lib/mono/4.5/ref/CitizenFX.Core.Server.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/ref/CitizenFX.Core.Server.pdb
Server-artifacts/citizen/clr2/lib/mono/4.5/ref/CitizenFX.Core.Server.sym
Server-artifacts/citizen/clr2/lib/mono/4.5/ref/CitizenFX.Core.Server.xml
Server-artifacts/citizen/clr2/lib/mono/4.5/System.Collections.Immutable.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/System.Collections.Immutable.sym
Server-artifacts/citizen/clr2/lib/mono/4.5/System.ComponentModel.DataAnnotations.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/System.Configuration.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/System.Core.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/System.Data.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/System.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/System.Drawing.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/System.EnterpriseServices.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/System.IO.Compression.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/System.IO.Compression.FileSystem.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/System.Management.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/System.Net.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/System.Net.Http.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/System.Net.Http.WebRequest.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/System.Numerics.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/System.Numerics.Vectors.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/System.Reflection.Metadata.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/System.Reflection.Metadata.sym
Server-artifacts/citizen/clr2/lib/mono/4.5/System.Runtime.InteropServices.RuntimeInformation.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/System.Runtime.Serialization.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/System.ServiceModel.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/System.ServiceModel.Internals.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/System.Transactions.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/System.Web.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/System.Xml.dll
Server-artifacts/citizen/clr2/lib/mono/4.5/System.Xml.Linq.dll
Server-artifacts/citizen/scripting/lua/deferred.lua
Server-artifacts/citizen/scripting/lua/graph.lua
Server-artifacts/citizen/scripting/lua/json.lua
Server-artifacts/citizen/scripting/lua/MessagePack.lua
Server-artifacts/citizen/scripting/lua/scheduler.lua
Server-artifacts/citizen/scripting/resource_init.lua
Server-artifacts/citizen/scripting/v8/.gitattributes
Server-artifacts/citizen/scripting/v8/9.3/icudtl.dat
Server-artifacts/citizen/scripting/v8/9.3/icudtl_extra.dat
Server-artifacts/citizen/scripting/v8/9.3/snapshot_blob.bin
Server-artifacts/citizen/scripting/v8/console.js
Server-artifacts/citizen/scripting/v8/eventemitter2.js
Server-artifacts/citizen/scripting/v8/index.d.ts
Server-artifacts/citizen/scripting/v8/main.js
Server-artifacts/citizen/scripting/v8/msgpack.js
Server-artifacts/citizen/scripting/v8/natives_blob.bin
Server-artifacts/citizen/scripting/v8/timer.js
Server-artifacts/components.json
Server-artifacts/concrt140.dll
Server-artifacts/conhost-server.dll
Server-artifacts/CoreRT.dll
Server-artifacts/debug-script.dll
Server-artifacts/devcon.dll
Server-artifacts/FXServer.exe
Server-artifacts/http-client.dll
Server-artifacts/imgui.dll
Server-artifacts/libuv.dll
Server-artifacts/msvcp140.dll
Server-artifacts/msvcp140_1.dll
Server-artifacts/msvcp140_2.dll
Server-artifacts/msvcp140_atomic_wait.dll
Server-artifacts/msvcp140_codecvt_ids.dll
Server-artifacts/net-base.dll
Server-artifacts/net-http-server.dll
Server-artifacts/net-tcp-server.dll
Server-artifacts/nng.dll
Server-artifacts/node.dll
Server-artifacts/scrbind-base.dll
Server-artifacts/scripting-server.dll
Server-artifacts/server.7z
Server-artifacts/svadhesive.dll
Server-artifacts/ucrtbase.dll
Server-artifacts/vccorlib140.dll
Server-artifacts/vcruntime140.dll
Server-artifacts/vcruntime140_1.dll
Server-artifacts/vfs-core.dll
Server-artifacts/vfs-impl-server.dll
Server-artifacts/voip-server-mumble.dll
start_5848_default.bat
txData/default/config.json
txData/default/data/playersDB.json
txData/default/data/stats_heatmapData_v1.json
txData/default/logs/admin.log
txData/default/logs/fxserver.log
txData/default/logs/server.log
